name: Release

on:
  workflow_dispatch:

jobs:
  pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: Pack Edenfield
        run: |
          cd Edenfield-main
          npm ci --prefer-offline --no-audit
          npm pack
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: edenfield-package
          path: Edenfield-main/*.tgz
